@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --dark: #16171C;
  --shadow: rgba(0, 0, 128, 0.1);
  --main: #ADD6C2;
  --sub: #C9CBD5;
  --point: #74BDE8;
  --point2: #F7DED7;
  --point3: #E9D561;
}

* {
  font-family: 'SUIT-Regular', normal !important;
}

.container {
  height: 100vh;
  padding: 0.625rem;
  box-sizing: border-box;
  background-color: var(--dark);
  color: white;
  display: grid;
  grid-template: 1fr 1fr 3fr 2fr 1fr 1fr/1fr;
  gap: 0.625rem;
  grid-template-areas:
    "profile"
    "gallery"
    "painter"
    "todolist"
    "weather"
    "clock";
  overflow-x: hidden;
}

.grid-item {
  border-radius: 1.875em;
  padding: 2rem;
}

/* // 1. topbar-sec */
.profile {
  grid-area: profile;
  padding: 0;
}

.profile .topbar-sec {
  display: flex;
  align-items: center;
}

.topbar-sec #searchingForm {
  width: 100%;
  position: relative;
  border: 2px solid white;
  border-radius: 1.6rem;
}

.topbar-sec #searchingInput {
  background-color: transparent;
  font-size: 1rem;
  border-radius: 1.6rem;
  width: 86%;
  padding: 0.8em 1em;
  color: var(--point);
  letter-spacing: 0.15rem;
  font-style: italic;
  font-weight: 700;
}

#searchingInput::placeholder {
  font-style: normal;
  font-weight: 500;
}

.sns-btn {
  border: 2px solid white;
  padding: 0.5em;
  border-radius: 50%;
  box-sizing: content-box;
}

.sns-btn:hover {
opacity: 0.85;
}

.bar-icon {
  display: block;
  height: 2rem;
  width: 2rem;
}

.bar-icon:hover {
  opacity: 0.85;
}

#searchingBtn {
  position: absolute;
  top: 0;
  right: 0.8rem;
  padding: 0.5rem;
}

/* // 2. login-sec */
#loginForm {
  padding-top: 10%;
}

#loginInput {
  background-color: transparent;
  width: 100%;
  font-size: 5rem;
  color: white;
  letter-spacing: 0.15rem;
  font-weight: 700;
  padding: 1rem;
}

#loginInput::placeholder {
  font-weight: 500;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0;
}

#profileBox {
  height: 8.25rem;
  justify-content: space-between;
  position: relative;
}

#profileName {
  font-size: 5rem;
  letter-spacing: 0.15rem;
  font-weight: 700;
  padding: 1rem;
  position: relative;
  top: 9%;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100vw - 5rem);
}

.profile-menu {
  position: absolute;
  top: 0;
  right: 1rem;
}

.img-label {
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--point2);
  box-shadow: inset 3px 3px 10px 5px var(--shadow);
  position: relative;
  cursor: pointer;
  text-align: center;
  transition: all ease-in 0.1s;
}

.img-label:hover {
  background-color: var(--point);
  box-shadow: inset 0px 0px 10px 1px var(--main);
}

#initial {
  line-height: 5rem;
  font-size: 2rem;
  position: relative;
  bottom: 0.15rem;
}

#profileImg {
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 0;
  left: 0;
  border-radius: 50%;
  object-fit: cover;
}

#logoutBtn,
#flipBtn {
  padding: 0;
  display: block;
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  margin: 0 auto;
}

#logoutBtn:hover,
#flipBtn:hover {
  opacity: 0.85;
}

#logoutBtn img,
#flipBtn img {
  background: transparent;
  width: 2rem;
  height: 2rem;
}

/* // 3. gallery-sec */
.gallery {
  grid-area: gallery;
  position: relative;
  min-height: 10rem;
  color: white;
}

.maker {
  width: fit-content;
  margin-left: auto;
  font-size: 0.9rem;
  font-style: italic;
}

#quotes {
  font-size: 1.1rem;
  background-color: var(--shadow);
  backdrop-filter: blur(3px);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 4.75rem 1rem 1.5rem;
  line-height: 1.6rem;
}

#flipBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3rem;
  margin-right: 1.5rem;
}

/* // 4. paint-sec */
.painter {
  grid-area: painter;
  background-color: white;
}

.paint {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paint-container {
  border-radius: 1.875rem;
  background: no-repeat top/contain;
  background-image: url('../assets/feeling.png');
  width: 342px;
}

canvas {
  border-radius: 1.875rem;
  border: 1px dashed var(--dark);
  cursor: none;
}

.paint-menu {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.btn-options {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
}

.btn-options button {
  padding: 0.625rem 1.875rem;
  color: var(--point2);
  background-color: var(--dark);
  transition: opacity linear .1s;
}

.btn-options button:hover {
  opacity: 0.9;
}

.color-options {
  display: flex;
}

.color-option {
  width: 50px;
  cursor: pointer;
  border: 2px solid white;
  transition: transform all -out .1s;
}

.color-option:hover {
  transform: scale(1.1);
}

#brush {
  border: 1px solid var(--point3);
  height: 30px;
  width: 30px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

/* // 5. weather-sec */
.weather {
  grid-area: weather;
  background-color: var(--sub);
  color: var(--dark);
  font-size: 1rem;
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 2rem;
  box-shadow: inset -4px -4px 14px rgba(30, 53, 75, 0.3), inset 2px 2px 14px rgba(30, 53, 75, 0.3), inset 8px 8px 14px rgba(218, 242, 234, 0.5);
}

.info-box {
  width: 100%;
  text-align: left;
  font-size: 0.85rem;
  line-height: 1rem;
}

.weather-item {
  position: absolute;
  right: 2rem;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: right;
}

#weatherIcon {
  width: 9em;
  height: 9em;
  position: relative;
  bottom: 0.1875rem;
  z-index: 10;
}

.location {
  width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

#weatherTxt {
font-style: italic;
font-weight: bold;
position: relative;
bottom: 0.375rem;
}

/* // 6. clock-sec */
/* 6-1. clock */
.clock {
  grid-area: clock;
  background-color: var(--main);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  box-shadow: inset -2px -5px 14px rgba(234, 243, 193, 0.3), inset -1px -6px 20px 8px rgba(238, 247, 200, 0.5),inset -2px -1px 10px 5px rgba(23, 100, 114, 0.534)
}

.mini-heading {
  display: inline-block;
  background-color: var(--dark);
  color: white;
  font-weight: bolder;
  border-radius: 30px;
  padding: 5px 10px;
  margin-bottom: 0.5rem;
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  word-wrap: keep-all;
}

.analog-clock {
  border-radius: 50%;
  background-color: white;
  width: 10rem;
  height: 10rem;
  position: relative;
  margin-top: 2.8rem;
}

.analog-clock::after {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  top: calc(50% - 6px / 2);
  left: calc(50% - 6px / 2);
  border-radius: 50%;
  background-color: var(--dark);
}

.time {
  width: 15px;
  height: 50%;
  padding: 3%;
  box-sizing: border-box;
  position: absolute;
  left: calc(50% - 15px / 2);
  transform-origin: bottom;
}

.time-number {
  width: 30px;
  height: 20px;
  position: absolute;
  left: calc(50% - 30px / 2);
  text-align: center;
  font-weight: bolder;
  line-height: 20px;
  color: var(--dark);
}

.time.one {
  rotate: 30deg;
}

.time-number.one {
  rotate: -30deg;
}

.time.two {
  rotate: 60deg;
}

.time-number.two {
  rotate: -60deg;
}

.time.three {
  rotate: 90deg;
}

.time-number.three {
  rotate: -90deg;
}

.time.four {
  rotate: 120deg;
}

.time-number.four {
  rotate: -120deg;
}

.time.five {
  rotate: 150deg;
}

.time-number.five {
  rotate: -150deg;
}

.time.six {
  rotate: 180deg;
}

.time-number.six {
  rotate: -180deg;
}

.time.seven {
  rotate: 210deg;
}

.time-number.seven {
  rotate: -210deg;
}

.time.eight {
  rotate: 240deg;
}

.time-number.eight {
  rotate: -240deg;
}

.time.nine {
  rotate: 270deg;
}

.time-number.nine {
  rotate: -270deg;
}

.time.ten {
  rotate: 300deg;
}

.time-number.ten {
  rotate: -300deg;
}

.time.eleven {
  rotate: 330deg;
}

.time-number.eleven {
  rotate: -330deg;
}

.clock-hand {
  position: absolute;
  transform-origin: bottom;
}

#secHand {
  background-color: var(--point2);
  width: 2px;
  height: 45%;
  top: calc(50% - 45%);
  left: calc(50% - 2px / 2);
}

#minHand {
  background-color: var(--dark);
  width: 2px;
  height: 35%;
  top: calc(50% - 35%);
  left: calc(50% - 2px / 2);
}

#hourHand {
  background-color: var(--dark);
  width: 6px;
  height: 20%;
  top: calc(50% - 20%);
  left: calc(50% - 6px / 2);
}

.clock-btn {
  position: absolute;
  top: calc(50% - 1.5rem / 2);
  background-color: transparent;
  padding: 0;
}

.clock-btn.left {
  left: 0.8rem;
}

.clock-btn.right {
  right: 0.8rem;
}

.clock-btn img {
  width: 1.5rem;
  height: 1.5rem;
}

/* 6-2. timer */
#timerSelect {
  width: 10rem;
  height: 10rem;
  position: relative;
  margin-top: 2.8rem;
  border-radius: 10px;
}

.select-btn {
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 8rem;
  border-radius: 0.625rem;
  color: var(--dark);
  cursor: default;
}

.select-list {
  position: absolute;
  width: calc(100% - 10px);
  top: 2rem;
  left: 0.3125rem;
  border: 1px solid var(--shadow);
  border-radius: 10px;
  box-shadow: 4px 4px 14px var(--shadow);
}

.select-list li {
  padding: 0.3125rem 0.4375rem;
}

.select-list li button {
  width: 100%;
  padding: 0.4375rem 0.625rem;
  font-size: 0.9rem;
  line-height: 1rem;
  border-radius: 0.5rem;
  text-align: left;
}

.select-list li button:focus,
.select-list li button:hover {
  background-color: var(--shadow);
  box-shadow: 4px 4px 14px var(--shadow);
}

#timerPanel {
  color: var(--point3);
  font-weight: bold;
  padding-top: 5.8rem;
  font-size: 3.2rem;
}

.timeout {
  animation: blink 1s step-start 0s infinite;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

/* // 7. todolist-sec */
.todolist {
  grid-area: todolist;
  background-color: var(--dark);
  border: 2px solid white;
  position: relative;
  padding: 0 1rem 1rem 1rem;
  color: white;
}

.todo-heading {
  position: absolute;
  font-size: 1.5rem;
  font-style: italic;
  top: 0.5rem;
  font-weight: bold;
}

#addBtn {
  position: relative;
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  background-color: var(--point);
  font-size: 2rem;
  vertical-align: 0.3rem;
  left: 0.3rem;
}

#addBtn:hover {
  background-color: var(--point3);
  box-shadow: 0 5px 15px 0 var(--main);
  transition: all 0.2s all -out;
}

#addBtn:active {
  background-color: var(--point2);
  transition: all 0.2s all -out;
}

#todoForm {
  margin-top: 3rem;
  position: relative;
}

#todoInput {
position: absolute;
top: -1.6875rem;
left: 12.6875rem;
background: transparent;
border-bottom: 2px solid white;
font-size: 0.9rem;
height: 1rem;
padding: 1rem 0.7rem;
color: white;
}

#todoInput:focus {
  border-bottom: 2px solid var(--point3);
}

#todoList {
  display: flex;
  overflow-x: auto;
  gap: 0.5rem;
  scrollbar-color: white var(--shadow);
  scrollbar-width: thin;
}

#todoList::-webkit-scrollbar {
  height: 10px;
}

#todoList::-webkit-scrollbar-track {
  background-color: var(--point2);
  border-radius: 100px;
}

#todoList::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: white;
  min-width: 10rem;
}

#todoList li {
  margin: 1.3rem 0;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
  line-height: 1.5rem;
}

.item-label {
  word-break: break-all;
  font-size: 0.9rem;
}

.item-label::before {
  display: inline-block;
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3125rem;
  vertical-align: -0.4375rem;
  background: no-repeat center/cover url('../assets/unchecked-icon.svg');
}

.todo-item:checked+.item-label::before {
  background: no-repeat center/cover url('../assets/checked-icon.svg');
}

.todo-item:checked+.item-label {
  text-decoration: line-through;
}

.item-label+button {
  background: no-repeat center/cover url('../assets/delete-icon.svg');
  width: 1.3rem;
  height: 1.3rem;
  margin-left: 0.3125rem;
  vertical-align: -0.1875rem;
}

/* media */
@media (min-width: 650px) {
  .container {
    grid-template: 1fr 1fr 1fr / 2fr 1fr 1fr;
    grid-template-areas:
      "gallery profile profile"
      "painter weather clock"
      "painter todolist todolist";
  }

  #flipBtn {
    padding-bottom: 2.7rem;
  }

  #todoList li {
    width: 280px;
  }
}

@media (min-width: 1055px) {
  #loginInput::placeholder {
    font-size: 2rem;
  }
}

@media (max-width: 444px) {
  .painter {
    padding: 2rem 0.5rem;
  }
}